  

html {
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
    font-size: 16px;
}


body {
    width: 100%;
    margin: 0;
    padding: 0;
}

 .navbar-brand{
    font-family: 'Ubuntu', serif;
    font-weight: 700;
    margin: 0;
    color: #414141;
}

.dotted {
    border: dotted #111111 5px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
  }

  
h2 {
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
}

h5 {
    font-size: 1rem;
    margin-bottom: 5px;
    text-transform: uppercase;

}

a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;

}

ul {
    list-style-type: none;
}



header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    padding-right: 20px;
    color: #000;
    transition-property: transform, color;
    transition-duration: 1s, 1s;
}

.nav-bar ul li a:hover {
    transform: scale(0.9);
    color: #414141;
}

.container {
    padding-bottom: 30px;
}

.intro, .our-offerings-container, .download-container, .testimonial-container, .popular-vendors-container, .find-vendor-container {
    width: 100%;
    padding: 30px 30px;
}

.intro {
    background-color: #414141;
    margin-top: 5px;
    text-align: center;
}

.intro-info {
    padding: 30px 60px;
}

.intro-info p, .download-container p, .find-vendor-container p {
    color: #FCFCFC;
    line-height: 1.5;
    margin-bottom: 30px;
}

.intro-link, .download-links a, .find-vendor-container a {
    color: #FCFCFC;
    border: 1px solid #FCFCFC;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
}

.intro-link {
    padding: 10px 20px;
}

img {
    border-radius: 100%;

    max-width: 100%;
    width: 200px;
    height: 200px;
}
.our-offerings-container h2, .testimonial-container h2, .popular-vendors-container h2 {
    color: #414141;
}

.card-container, .vendor-container  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    column-gap: 30px;
    row-gap: 20px;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.card, .vendor-card {
    text-align: center;
}

.offering-info {
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.5;
}

.see-more {
    text-align: right;
    color: #414141;
}

.download-container, .find-vendor-container {
    background-color: #414141;
    text-align: center;
}

.download-container {
    padding: 30px 90px;
}

.download-container h2, h3, .find-vendor-container h2 {
    color: rgb(12, 12, 12);
}

.download-links a {
    padding: 10px 30px;
    margin: 0px 10px 10px 10px;
}

.testimonial-container {
    text-align: center;

}


.testimonial-container p {
    padding: 0 100px;
    line-height: 1.5;
}


.find-vendor-container a {
    padding: 20px 60px;
}

.intro-link, .download-links a, .find-vendor-container a {
    transition: transform 1s;
}

.intro-link:hover, .download-links a:hover, .find-vendor-container a:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 960px) {
    .intro-info {
        padding: 40px;
    }
}

@media screen and (max-width: 760px) {
    .intro, .our-offerings-container, .download-container, .testimonial-container, .popular-vendors-container, .find-vendor-container {
        padding: 25px;
    }

    .intro-info {
        padding: 15px 0;
    }

    .testimonial-container p {
        padding: 0 60px;
    }

    .nav-bar {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .testimonial-container p {
        padding: 0;
    }
}
